:root {
    --bad-value: #f05b4f;
    --good-value: #59922b;
    --shoulder-value: yellow;
    --too-small: grey;
    box-sizing: border-box;
}

/* flex layout */
main#main {
    margin-top: 300px;
    display: flex;
    max-height: 800px;
    width:100vw;
    grid-column-template: 1fr 1fr 1fr;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap; 
}

#main > * {
    flex-basis: 100%;
    /* flex-grow: 1; */
    flex-shrink: 1;
    max-height: 400px;
}


/* Use this selector to override the line style on a given series */
.ct-series-a .ct-line {
    /* Set the colour of this series line */
    stroke:blue;
    /* Control the thikness of your lines */
    stroke-width: 5px;
    /* Create a dashed line with a pattern */
    // stroke-dasharray: 4px 8px;
}

/* This selector overrides the points style on line charts. Points on line charts are actually just very short strokes. This allows you to customize even the point size in CSS */
.ct-series-a .ct-point {
    /* Colour of your points */
    stroke:red;
    /* Size of your points */
    stroke-width: 10px;
    /* Make your points appear as squares */
    /* stroke-linecap: square; */
}
.ct-target-line {
    stroke: var(no-surf);
    stroke-width: 2px;
    stroke-dasharray: 4px;
    shape-rendering: crispEdges;
}

/* threshold */
.ct-line.ct-threshold-above, .ct-point.ct-threshold-above, .ct-bar.ct-threshold-above {
    stroke: var(--good-value);
}

.ct-line.ct-threshold-below, .ct-point.ct-threshold-below, .ct-bar.ct-threshold-below {
    stroke: var(--too-small);
}

.ct-area.ct-threshold-above {
    fill: var(--good-value);
}

.ct-area.ct-threshold-below {     
    fill: var(--too-small);
}

/* arrows and tooltips */
.chartist-tooltip div.container {
    padding: 10px;
    opacity:1.0;
    margin: 0;
    border-radius:5px;
    border: 3px solid rgba(125,125,125,0.5);
}
.chartist-tooltip .bad {
    background-color: var(--bad-value);
}
.chartist-tooltip .good {
    background-color: var(--good-value);
}

.chartist-tooltip .shoulder {
    background-color: var(--shoulder-value);
}

.chartist-tooltip {
    background-color: unset;
    padding: 0px;
    font-size: 1.2em;}

/* tooltip bottom caret */
.chartist-tooltip::before {
    border-top-color: rgba(125,125,125,0.4);
}
.arrow {
    transform:rotate(calc(var(--direction)*1deg));
    display:inline-block;
}

.no-surf {
    stroke: var(--no-surf);
    fill: var(--no-surf);
    opacity: 0.2;
    pointer-events: none;
}
/* background */
